body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005f6b;
}

.instructions {
    display: none;
    text-align: center;
}

canvas {
    display: none;
    border: 5px solid #ffffff;  /* Borda branca ao redor da arena */
    border-radius: 15px;  /* Deixar as bordas arredondadas */
    background-color: black;  /* Fundo preto */
    box-shadow: 0 0 20px 5px #ffffff;  /* Efeito de brilho na borda */
    position: relative;
}

/* Estilo para os "pontos" no fundo simulando uma galáxia */
#gameCanvas {
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 10px 10px;  /* Tamanho dos pontos */
}

#score {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}
